/*================== 
  Style Settings 
==================*/

/* Mobile Settings */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroundColor1: #242424;
  --backgroundColor2: #4e4e4e;
  --headerColor: #3498db;
  --linksColor: #f1c40f;
  --linksHoverColor: #e74c3c;
  --textColor: #ecf0f1;
  --backgroundColor3: #108a00;
  
  font-size: 18px;
}

html {
  font-family: "Century Gothic", sans-serif;
  background-color: var(--backgroundColor2);
  color: var(--textColor);
  scroll-behavior: smooth;
}

nav {
  display: flex;
  width: 100vw;
  justify-content: center;
  height: 10vh;
  padding: 3vh 0;
  border-bottom: 3px solid var(--linksHoverColor);
  background-color: var(--backgroundColor1);
  position: fixed;
  top: 0;
}

#navbar-container {
  display: flex;
  padding: 0;
}

#navbar-container > li {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  margin: 0 1vw;
  color: var(--linksColor);
  font-weight: bold;
}

.nav-link:hover {
  color: var(--linksHoverColor);
}

#welcome-section {
  padding-top: 10vh;
  text-align: center;
  line-height: 5vh;
  margin: 5vh 0;
}

#subHeader {
  font-size: medium;
  color: var(--headerColor);
  text-shadow: 1px 1px 1px var(--backgroundColor1);
}

#about {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5vh;
  padding: 5vh 5vw;
  background-color: var(--backgroundColor1);
}

#about > #my-portrait > img {
  width: 50vw;
  border-radius: 8px;
}

#about > #my-portrait > figcaption {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: var(--headerColor);
  text-shadow: 2px 2px 2px black;
}

#credentials {
  display: flex;
  flex-flow: row wrap;
  padding: 5vh 5vw;
}

#credentials > p {
  line-height: 5vh;
  margin-bottom: 5vh;
}

#logo-container {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: 10vw;
  padding: 5vh 5vw;
}

figcaption {
  text-align: center;
}

.logo-figure > img {
  width: 15vw;
}

#logo-three > .logo-figure {
  width: 15vw;
}

#javascript {
  width: inherit;
}

.logo-figure > figcaption {
  width: inherit;
  text-wrap: wrap;
}

#ruby {
  margin-bottom: 12px;
}

#logo-six > .logo-figure {
  width: 30vw;
}

#mongo {
  width: inherit;
}

#logo-seven > .logo-figure {
  width: 35vw;
}

#express {
  width: inherit;
}

#node {
  width: 25vw;
}

#projects {
  display: flex;
  flex-flow: column wrap;
  padding: 2vh 5vw;
  background-color: var(--backgroundColor1);
}

#projects > h1 {
  color: var(--linksColor);
  margin-bottom: 5vh;
  text-align: center;
}

.project-tile {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.project-tile > a {
  line-height: 2em;
  text-decoration: none;
  color: var(--projectsTitleColor);
  font-weight: bold;
}

.project-tile > a > figure > img {
  width: 70vw;
  box-shadow: 2px 2px 3px white;
}

.projectTitle {
  background-color: var(--backgroundColor3);
  box-shadow: 2px 2px 3px white;
}

#projects-button {
  display: flex;
  justify-content: center;
}

#projects-button > a {
  text-decoration: none;
  color: var(--textColor);
  font-weight: bold;
  padding: 10px;
  background-color: var(--backgroundColor3);
  box-shadow: 2px 2px 3px white;
}

#contact > h1 {
  color: var(--headerColor);
  text-shadow: 2px 2px 2px var(--backgroundColor1);
  text-align: center;
  margin: 2vh 0;
}

#contact > ul {
  list-style: none;
  line-height: 5vh;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  gap: 0 10vw;
}

.contact-link {
  text-decoration: none;
  font-weight: bold;
  color: var(--linksColor);
}

footer {
  padding: 2vh 5vw;
  line-height: 5vh;
}

.footer-link {
  font-weight: bold;
  text-decoration: none;
  color: var(--linksColor);
}

.footer-link:hover {
  color: var(--linksHoverColor);
}

/* Tablet Settings */

@media screen and (min-width: 810px ) {
  nav {
    width: 100vw;
    font-size: 1.5em;
  }

  #welcome-section {
    font-size: 1.5em;
    line-height: 10vh;
  }

  #subHeader {
    font-size: 1em;
    text-shadow: 1px 1px 1px white;
  }

  #about {
    padding: 10vh 5vw;
  }

  #projects {
    padding: 5vh 5vw;
  }

  .project-tile {
    margin-bottom: 10vh;
  }

  .projectTitle {
    margin-top: 1vh;
    box-shadow: 5px 3px 5px white;
  }

  .project-tile > a > figure > img {
    width: 70vw;
    box-shadow: 5px 3px 5px white;
  }

  #projects-button > a {
    box-shadow: 5px 3px 5px white;
  }

  #logo-container {
    font-size: larger;
  }

  #projects > h1 {
    font-size: 2em;
  }

  .projectTitle {
    font-size: larger;
  }

  #contact > h1 {
    font-size: 2em;
  }
}

/* Desktop Settings */

@media screen and (min-width: 1280px) {
  #welcome-section {
    padding-top: 30vh;
    height: 100vh;
    font-size: 3em;
  }
  
  #subHeader {
    font-size: .75em;
    text-shadow: 2px 2px 2px white;
  }

  #my-portrait {
    grid-area: my-portrait;
  }
  
  #about {
    gap: 10px 40px;
    padding: 5vh 5vw;
    display: grid;
    grid-template-areas: 
                                        "my-portrait one"
                                        "my-portrait two"
                                        "my-portrait three"
                                        "my-portrait four"
                                        "my-portrait five";
  }

  #about > #my-portrait > img {
    max-width: 700px;
  }

  #about > #my-portrait > figcaption {
    font-size: 1.5em;
  }

  #logo-one {
    grid-area: logo-one;
  }

  #logo-two {
    grid-area: logo-two;
  }

  #logo-three {
    grid-area: logo-three;
  }

  #logo-four {
    grid-area: logo-four;
  }

  #logo-five {
    grid-area: logo-five;
  }

  #logo-six {
    grid-area: logo-six;
  }

  #logo-seven {
    grid-area: logo-seven;
  }

  #logo-eight {
    grid-area: logo-eight;
  }

  #logo-nine {
    grid-area: logo-nine;
  }

  .logo-figure > img {
    max-width: 180px;
  }

  #logo-container {
    display: grid;
    gap: 100px 1px;
    grid-template-areas: 
                              "logo-one logo-two logo-three"
                              "logo-four logo-five logo-eight"
                              "logo-six logo-seven logo-nine";
  }

  #express, 
  #node, 
  #mongo,
  .logo-figure > figcaption {
    max-width: 250px;
  }

  #project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .project-tile > a:hover,
  #projects-button > a:hover {
    opacity: .8;
  }

  .project-tile > a > figure > img {
    max-width: 400px;
    max-height: 190px;
  }

  #contact > ul {
    justify-content: center;
  }

  .contact-link:hover, 
  .footer-link:hover {
    color: var(--linksHoverColor);
  }
}

/*******END OF FILE!!!********/